@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

.logo {
	height:80px;
}

nav {
	height:60px;
}

section > .artist-info {
	height:200px;
}


footer {
	height:50px;
}

.song-info > .infoArea {
	height:250px;
}

.infoArea > .areaSize {
	width:300px;
}

.informFont {
	font-size:13px;
}

section > .lyrics {
	margin-top:50px;
	margin-bottom:30px;
}